.list-countries ul { margin:0 !important; padding-left: 0 !important; }
.list-countries ul li { margin:18px 0 !important; list-style:none !important; }
.list-countries ul li a { color: #5C6AC1; font-weight: 700; text-decoration: none; }