@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Protest+Riot&display=swap');
@import url('https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free/css/all.min.css');

html, body {
    background: #fcfcf9;
    font-family: 'Inter', Arial, sans-serif;
    color: #767279 !important;
}

body main {
    padding-bottom: 0 !important;
}

h1.js-quickedit-page-title.text-left.page-title {
    display: none !important;
}

a.btn {
    border-radius: 4px;
    border: none;
}

a.btn-primary {
    background: #5C6AC1;
    font-weight: 700;
    color: #FFF !important;
}

a.btn-primary:hover {
    background: #4e5aa4;
    color: #FFF !important;
}

a {
    font-weight: 700;
    color: #5C6AC1 !important;
    text-decoration: none !important;
}

a:hover {
    color: #4e5aa4 !important;
}

.h1, h1, .h2, h2, .h3, h3, .h4, .h5, .h6, h4, h5, h6, strong { 
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 700 !important;
    color: #3A405F !important;
}

.lead {
    font-weight: 400 !important;
}

.text-main {
    color: #02103F;
}

.fw-light {
    font-weight: 400 !important;
}

.fs-7 {
    font-size: 12px;
    color: #666;
}

.text-secondary {
    color: #1D7F76 !important;
}

h1.text-left.page-title {
    display: none;
}

.panel.panel-bubbles {
    padding: 32px 0 !important;
    background: url('https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/images/revamp/faq/bg-masthead.svg') repeat;
    border-radius: 6px !important;
}

@media (min-width: 576px) {
    .panel.panel-bubbles {
        margin-top: 40px !important;
        padding: 80px 0 !important;
    }
}


.panel-shadow {
    box-shadow: 0px 12px 25px 0px rgba(0, 0, 0, 0.05);
}

li.panel-shadow a {
    width: 100%;
    height: auto;
}

li.panel-shadow a span {
    color: #02103F;
}

.dotted-line {
    margin: 44px 0;
    height: 2px;
    background: repeating-linear-gradient(
        90deg,
        #E0E0E0,
        #E0E0E0 2px,
        transparent 2px,
        transparent 6px
    );
    background-size: 6px 1px;
}


/******** Banner Bottom ********/
.bottom-banner {
    border: 1px solid #E0E0E0;
    border-radius: 8px;
}

.btn.btn-outline-primary {
    border: 2px solid #2F469C;
    background: #F8F9FF;
}

.btn.btn-outline-primary:hover, .btn.btn-outline-primary:focus {
    border: 2px solid #2F469C;
    background: #FFF;
}

.btn.btn-outline-primary:active {
    color: #FFF !important;
    border: 2px solid #112572;
}