@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Protest+Riot&display=swap');

html, body {
    height: 100%;
    background: #fcfcf9;
    font-family: 'Inter', Arial, sans-serif;
    color: #767279;
}

a.btn {
    border-radius: 6px;
    font-weight: 700;
    border: none;
    padding: 9px 16px;
    border: 1px solid transparent!important;
}

a.btn-primary {
    background: #2f469c;
    color: #FFF !important;
}

a.btn-primary:hover {
    background: #1d3590;
    color: #FFF !important;
}

a.btn-primary:active {
    background: #2f469c !important;
    color: #FFF !important;
}

a.btn-secondary {
    background: #84329B;
    color: #FFF !important;
}

a.btn-secondary:hover {
    background: #641978;
    color: #FFF !important;
}

a.btn-outline-secondary {
    color: #4a0b5a !important;
    border: 2px solid #84329b !important;
    background: #fdf4ff;
}

a.btn-outline-secondary:hover {
    color: #4a0b5a;
    border: 2px solid #bd66d6 !important;
    background: #ffffff;
}

a.btn-outline-secondary:focus {
    color: #FFF !important;
    border: 2px solid #84329b !important;
    background: #84329b;
}

a.btn-outline-secondary:active {
    color: #FFF !important;
    border: 2px solid #4a0b5a !important;
    background: #84329b;
}

a {
    font-weight: 700;
    color: #5C6AC1 !important;
    text-decoration: none !important;
}

a:hover {
    color: #4e5aa4 !important;
}

.h1, h1, .h2, h2, .h3, h3, .h4, .h5, .h6, h4, h5, h6, strong { 
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 700 !important;
    color: #02103f !important;
}

h2 {
    font-size: 32px !important;
}

.lead {
    font-weight: 400 !important;
}

.fs-7 {
    font-size: 12px;
    color: #666;
}

.fw-light {
    font-weight: 400 !important;
}

.text-secondary {
    color: #1D7F76 !important;
}

.panel {
    padding: 60px 0 60px 0;
}

.panel.panel-primary {
    background: #FFF;
    border: 1px solid #DEE2E6 !important;
    border-left: none;
    border-right: none;
}

/* Text Utilities */
.text-main {
    color: #02103f !important;
}

@media (min-width: 992px) {
    .panel.panel-primary {
        background: #FFF;
        border: none !important;
        border-radius: 0.5rem !important;
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    }
}


/****************** INTRO STYLES ******************/

.panel.panel-intro-light {
    background: linear-gradient(180deg, #DBE2FF 0%, #FFF 93.45%);
    border-radius: 24px; 
}

.btn.btn-light.btn-start {
    color: #009CFF !important;
}


/****************** CHOICE PAGE STYLES ******************/

  .container-full-height {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    max-width: 800px;
  }

  @view-transition {
    navigation: auto;
  }

/***** Choice *****/

.choice {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.choice-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    border-radius: 12px;
    padding: 10px;
    transition: all 0.3s ease;
}

.choice-input {
    display: none;
}

.choice-content {
    position: relative;
    border: 2px solid #f6f6f6;
    border-radius: 12px;
    padding: 16px;
    background: #f6f6f6;
    transition: all 0.3s ease;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choice-content img {
    width: 100%;
    height: auto;
    max-width: 292px;
    border-radius: 8px;
}

.radio-indicator {
    width: 24px;
    height: 24px;
    border: 2px solid #8496d8;
    border-radius: 50%;
    background: transparent;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    position: relative;
}

.choice-label:hover .choice-content {
    background-color: #ffffff;
    border-color: #2f469c;
}

.choice-input:checked + .choice-content {
    background-color: #f6f6f6;
    border: 2px solid #2f469c;
}

.choice-input:checked + .choice-content .radio-indicator {
    background-color: #2f469c;
    border-color: #2f469c;
    box-shadow: inset 0 0 0 4px rgba(255, 255, 255, 1);
}

@media (min-width: 576px) {
    .choice-content img {
        max-width: 292px;
    }
}

/****************** RESULTS PAGE ******************/

.panel.panel-results {
  border-radius: 24px;
}

.panel.panel-results-orange {
  background: url("https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/images/revamp/censydiam/stripes-monkey.webp")
      no-repeat,
    linear-gradient(89deg, #fff4e6 0.86%, #fffbf6 47.04%);
  background-position: -210px 60px, top left;
  background-size: auto, cover;
}

.panel.panel-results-black {
  background: url("https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/images/revamp/censydiam/stripes-dolphin.webp")
      no-repeat,
    linear-gradient(89deg, rgb(236, 235, 235) 0.86%, #f9f9f9 47.04%);
  background-position: -210px 60px, top left;
  background-size: auto, cover;
}

.panel.panel-results-yellow {
  background: url("https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/images/revamp/censydiam/stripes-panda.webp")
      no-repeat,
    linear-gradient(89deg, rgb(255, 243, 224) 0.86%, #fffbf6 47.04%);
  background-position: -210px 60px, top left;
  background-size: auto, cover;
}

.panel.panel-results-brown {
    background: url("https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/images/revamp/censydiam/stripes-kangaroo.webp")
        no-repeat,
        linear-gradient(89deg, rgb(255, 231, 206) 0.86%, #fffbf6 47.04%);
    background-position: -210px 60px, top left;
    background-size: auto, cover;
}

.panel.panel-results-purple {
    background: url("https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/images/revamp/censydiam/stripes-lion.webp")
        no-repeat,
        linear-gradient(89deg, rgb(245, 219, 253) 0.86%, #fdf4ff 47.04%);
    background-position: -210px 60px, top left;
    background-size: auto, cover;
}

.panel.panel-results-blue {
    background: url("https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/images/revamp/censydiam/stripes-dog.webp")
        no-repeat,
        linear-gradient(89deg, rgb(230, 225, 255) 0.86%, #f8f9ff 47.04%);
    background-position: -210px 60px, top left;
    background-size: auto, cover;
}

.panel.panel-results-green {
    background: url("https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/images/revamp/censydiam/stripes-fox.webp")
        no-repeat,
        linear-gradient(89deg, rgb(222, 254, 225) 0.86%, #f4fffb 47.04%);
    background-position: -210px 60px, top left;
    background-size: auto, cover;
}

.panel.panel-results-red {
    background: url("https://cdn.ipsosinteractive.com/deploy/PanelOne/resources/images/revamp/censydiam/stripes-squirrel.webp")
        no-repeat,
        linear-gradient(89deg, rgb(255, 226, 226) 0.86%, #fff6f8 47.04%);
    background-position: -210px 60px, top left;
    background-size: auto, cover;
}

.banner-playlist {
  border-radius: 8px !important;
  background: #fff !important;
  border: none !important;
  box-shadow: 0px 12px 25px 0px rgba(0, 0, 0, 0.05) !important;
}

.share-btn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
}

.btn.share-btn.facebook {
  color: #4267b2 !important;
}

.btn.share-btn.messenger {
  color: #00b2ff !important;
}

.btn.share-btn.whatsapp {
  color: #25d366 !important;
}

/****************** FOOTER STYLES ******************/

footer .nav-item a {
    font-size: 12px !important;
}

footer ul.social-icons li:first-child {
    list-style: none;
    margin-left: 0;
}

footer ul.social-icons li {
    list-style: none;
    margin: 8px 4px;
}

footer .social-icons a {
    padding: 0;
} 

footer .app-badge.googleplay {
    max-width: 143px;
}

footer .app-badge.ios {
    max-width: 125px;
}

footer ul.nav.navbar-nav {
  display: block;
  column-count: 2 !important;
  column-gap: 2em;
}

@media (min-width: 768px) {
    footer ul.nav.navbar-nav {
        column-count: 3 !important;
    }
}

#block-footeripsos h2 {
    display: none;
}

/****************** COMMON CSS ******************/

.fs-7 {
    font-size: 12px !important;
}

/****************** CENSYDIAM STYLES ******************/

.panel.panel-intro-blue {
    background: linear-gradient(to bottom right, #009CFF, #0063AA);
}

.btn.btn-light.btn-start {
    color: #009CFF !important;
}

/****************** RESULTS PAGE (Legacy styles removed - using background images above) ******************/


/****************** FORM ******************/

.form-label {
    margin-bottom: 4px;
    color: #2F469C;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;

    
}

input.form-control {
    font-size: 16px;
    padding: 8px 12px;
}

.validation-warn {
    display: none;
}

.form-check {
    padding-left: 0;
}

.form-check-label {
    margin-left: 5px;
}

/****************** JUST FOR THE PROTOTYPE: Not used in production ******************/
.btn-results {
    position: fixed;
    bottom: 5px;
    right: 5px;
    border: 1px solid #FAFAFA;
}